@model IEnumerable<Member>

@{
    Layout = "_LoggedInLayout";

    ViewData["Title"] = "Team Members";
}

<partial name="Partials/_AddMemberForm" model="new AddMemberForm()"/>
<partial name="Partials/_EditMemberForm" model="new EditMemberForm()"/>

<section id="team-members">
    <header class="header-seperate">
        <h2>Team members</h2>
        <button type="submit" data-modal="true" data-target="#addMemberModal" class="btn">
            <i class="fa-solid fa-plus"></i>
            <span>Add Member</span>
        </button>
    </header>

    <div class="member-list">
        <div class="card-row">
            @foreach (var member in Model)
            {
                @await Html.PartialAsync("Partials/_MemberListPartial", member)
            }
        </div>
    </div>
</section>