@model ProjectsViewModel

@{
    Layout = "_LoggedInLayout";

    ViewData["Title"] = "Projects";
}

<partial name="Partials/_EditProjectForm" model="Model.EditProjectForm" />
<partial name="Partials/_AddProjectForm" model="Model.AddProjectForm" />

<section id="projects">
    <header class="header-seperate">
        <h2>Projects</h2>
        <button type="submit" data-modal="true" data-target="#addProjectModal" class="btn">
            <i class="fa-solid fa-plus"></i>
            <span>Add Project</span>
        </button>
    </header>

    <div class="filter-projects">
        <button class="filter-projects-by">
            ALL (@Model.Projects.Count())
        </button>
        <button class="filter-projects-by">
            STARTED (@Model.Projects.Count(p => p.Status.StatusName == "Started"))
        </button>
        <button class="filter-projects-by">
            COMPLETED (@Model.Projects.Count(p => p.Status.StatusName == "Completed"))
        </button>
    </div>


    <div class="projects-list">
        @if (Model.Projects != null && Model.Projects.Any())
        {
            @foreach (var project in Model.Projects)
            {
                @await Html.PartialAsync("Partials/_ProjectListPartial", project)
            }
        }
        else 
        {
            <p>No projects found</p>
        }
    </div>
</section>