

<h1>Welcome</h1>
<nav>
    <div class="header-btns">
        <a asp-action="SignOut" asp-controller="Auth" class="auth-link">Sign out</a>

        <a class="auth-link" asp-controller="Auth" asp-action="SignIn">Sign In</a>
        <a class="auth-link" asp-controller="Auth" asp-action="SignUp">Sign Up</a>
        <a class="auth-link" asp-controller="Admin" asp-action="Projects">User dashboard</a>
    </div>
</nav>