@model EditProjectForm

<div id="editProjectModal" class="modal-container">
    <div class="content-modal">

        <div class="header-modal">
            <h3>Edit Project</h3>
            <button type="button" class="btn-close" data-close="true"></button>
        </div>

        <form novalidate method="post" asp-action="AddProject" asp-controller="User">

            <div class="image-previewer square">
                <img src="" class="image-preview" />
                <input asp-for="ProjectImage" accept="image/*" class="hide" />
                <i class="fa-solid fa-camera"></i>
            </div>



            <div class="forms-group">
                <label asp-for="ProjectName"></label>
                <div class="field-group">
                    <input asp-for="ProjectName" />
                    <span asp-validation-for="ProjectName"></span>
                </div>
            </div>

            <div class="forms-group">
                <label asp-for="ClientName"></label>
                <div class="field-group">
                    <input asp-for="ClientName" />
                    <span asp-validation-for="ClientName"></span>
                </div>
            </div>

            <div class="forms-group">
                <label asp-for="Description"></label>
                <div class="field-group">
                    <input asp-for="Description" />
                    <span asp-validation-for="Description"></span>
                </div>
            </div>

            <div class="forms-group">
                <label asp-for="StartDate"></label>
                <div class="field-group">
                    <input asp-for="StartDate" />
                    <span asp-validation-for="StartDate"></span>
                </div>
            </div>

            <div class="forms-group">
                <label asp-for="EndDate"></label>
                <div class="field-group">
                    <input asp-for="EndDate" />
                    <span asp-validation-for="EndDate"></span>
                </div>
            </div>

            <div class="forms-group">
                <label asp-for="Members"></label>
                <div class="field-group">
                    <input asp-for="Members" />
                    <span asp-validation-for="Members"></span>
                </div>
            </div>

            <div class="forms-group">
                <label asp-for="price"></label>
                <div class="field-group">
                    <input asp-for="price" />
                    <span asp-validation-for="price"></span>
                </div>
            </div>

            <button type="submit" class="btn btn-submit">Save</button>
        </form>


    </div>
</div>