@model Project

<div id="Project-dropdown-@Model.Id" class="Edit-project-container">
    <div class="dropdown-body">
        <nav class="dropdown-actions">
            <a class="dropdown-action" data-modal="true" data-target="#editProjectModal">
                <i class="fa-solid fa-pen-to-square"></i>
                <span>Edit</span>
            </a>
            <a asp-controller="Projects" asp-action="DeleteProject" asp-route-id="@Model.Id" class="dropdown-action _border-mid">
                <i class="fa-regular fa-trash-can"></i>
                <span>Remove</span>
            </a>
        </nav>
    </div>
</div>