@model Client

<div id="client-dropdown-@Model.Id" class="Edit-client-container">
    <div class="dropdown-body">
        <nav class="dropdown-actions">
            <a class="dropdown-action edit-client-modal" data-client-id="@Model.Id" data-modal="true" data-target="#editClientModal">
                <i class="fa-solid fa-pen-to-square"></i>
                <span>Edit</span>
            </a>
            <a asp-controller="Clients" asp-action="DeleteClient" asp-route-id="@Model.Id" class="dropdown-action _border-mid">
                <i class="fa-regular fa-trash-can"></i>
                <span>Remove</span>
            </a>
        </nav>
    </div>
</div>