<div id="notificationModal" class="notification-modal-container">
    <div class="notification-wrapper">
        <div class="notification-top">
            <span>Notifications</span>
            <img src="~/images/note2.svg" />
        </div>
        <div class="member-notification">
            <div class="member-span">
                <div>
                    <img src="~/images/avatar10.svg" alt="notification from member avatar" />
                </div>
                <div class="mt-3">
                    <span>Hans Mattin-Lassei</span>
                    <p>1 min ago</p>
                </div>
            </div>
            <span class="remove-note">
                <i class="fa-solid fa-x"></i>
            </span>
        </div>
    </div>
</div>