@using System.Security.Claims
@{
    var email = User?.FindFirstValue(ClaimTypes.Email);
}


<div class="account-information">
    <div class="acc-email"><img class="avatar-in-profile" src="~/images/avatar10.svg" alt="Profile avatar" /> @email</div>
    <a class="signout-link" asp-action="signOut" asp-controller="Auth">
        <i class="fa-solid fa-arrow-right-from-bracket"></i>
        Sign Out
    </a>
</div>